@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,200;0,300;0,400;0,700;1,300&family=Rubik:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');
*{
    box-sizing: border-box;

}
body{
    font-family: "Poppins", sans-serif;
    margin: 0;
    display: flex;
    background-color: linear-gradient(300deg, #CED1D6,#bfc0c0);
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
}
input{
    background-color: #fff;
    border: none;
    border-radius: 25px;
    padding: 1rem;
    font-family: inherit;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    min-width: 300px;
    font-size: 1rem;
}

input:focus{
    online: none;
}

.weather{
    font-size: 2rem;
    text-align: center;
}
.weather h2{
    margin-bottom: 0;
    align-items: center;
    display: flex;
}
.weather img{
    transform: scale(2);
}

